* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper div {
    margin: 20px 0;
}
button{
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 17px;
    border: 3px solid blue;
    margin: 0 5px;
    transition: all 0.3s ease;
}
button:hover {
    background-color: blue;
    color: #fff;
    border: 3px solid #000;
}
.time{
    font-size: 55px;
}
.time-number {
    font-size: 40px;
}
p {
    position: absolute;
    bottom: 3%;
}